html,body{
    background-color:white;
}
label{
    display: block;
}
button{
    display: block;
    margin: 10px;
    margin-left: 50px;
}
ul {
    list-style-type: none;
  }
img{
   width: 50px;
  }
legend{
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}